szkolenie Excel
Tabele Przestawne dla Zaawansowanych.xlsx
Tabele Przestawne Podstawy.xlsx
matura2019-3.1.accdb
2019/Dane_PR2.zip
2016/a.out
2016/dane_6_1.txt
2016/dane_6_2.txt
2016/dane_6_3.txt
2017/Matura z informatyki 2017/6_1.cpp
2017/Matura z informatyki 2017/6_2.cpp
2017/Matura z informatyki 2017/6_3.cpp
2017/Matura z informatyki 2017/6_4.cpp
2017/Matura z informatyki 2017/0006KMT9RH3XK1EY.pdf
2017/Matura z informatyki 2017/cennik.txt
2017/Matura z informatyki 2017/cukier.txt
2017/Matura z informatyki 2017/dane.txt
2017/Matura z informatyki 2017/druzyny.txt
2017/Matura z informatyki 2017/fanka.accdb
2017/Matura z informatyki 2017/przyklad.txt
2017/Matura z informatyki 2017/sedziowie.txt
2017/Matura z informatyki 2017/Slodzik.accdb
2017/Matura z informatyki 2017/slodzik.xlsx
2017/Matura z informatyki 2017/wyniki.txt
2017/Dane_PR2(1).zip
2017/a.out
2017/6-3
2017/6-2
2017/6-4
2019/zad1
2019/zad3
2019/zad2
Próbne/zestaw inf/dane_czII.zip
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
